  <div class="column clearfix">
  <%= form_for(@deal, :remote => true) do |d| %>
        <div class="input">
          <label>Who's this deal with?</label>
          <label><%= @event.lead.name if @event.lead %></label>
        </div>
        
        <div class="input">
          <%= d.text_field :name, :placeholder => "Name the deal" %>
          <%= hidden_field_tag :event_id, @event.id %>
        </div>
        
        <div class="input">
          <%= d.text_area :description, :placeholder => "Describe the deal" %>
        </div>
        
        <div class="input">
          <%= d.select :currency, CURRENCIES_MAP, {}, :class => "column currency" %>
          <%= d.text_field :how_much, :placeholder => "How much?", :class => "column amount" %>
          <%= d.select :deal_type, Deal::DEALTYPE, {} %>
        </div>
        
        <div class="input">
          <%= d.label :category_id, "Category" %>
          <%= d.select :category_id, (Category.all.collect {|cat| [cat.name, cat.id]}), {} %>
        </div>
		<%= d.submit "Add this deal", :class => "btn btn-primary" %>
  <%end%>
  </div>
