<div class="modal-body">
  <div class="row-fluid">
    <div class="input">
      <%= f.text_field :title, :class => "span12", :placeholder => "title" %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="input">
      <%= datetime_picker_input "event", "date_from", :class => "span6", :placeholder => "From date", :minDate => "D", :dateFormat => "yy-mm-dd" %>
      <%= datetime_picker_input "event", "date_to", :class => "span6", :placeholder => "To date", :minDate => "D", :dateFormat => "yy-mm-dd" %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="input">
      <%= f.text_field :location, :class => "span12", :placeholder => "Location" %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="input">
      <%= f.text_area :crm, :rows => 3, :class => "span6", :placeholder => "CRM data" %>
      <%= f.text_area :tips, :rows => 3, :class => "span6", :placeholder => "Tips" %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="input">
      <section class="span2">
        Event type:
      </section>
      <div class="event-type span3 type1 btn" onclick="set_type(1)">
        Cold calls
      </div>
      <div class="event-type span2 type2 btn" onclick="set_type(2)">
        Visits
      </div>
      <div class="event-type span2 type3 btn" onclick="set_type(3)">
        Quotes
      </div>
      <div class="event-type span2 type4 btn btn-primary" onclick="set_type(4)">
        Other
      </div>
      <%= f.hidden_field :eventtype %>
    </div>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
</div>