<div class="modal" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h2><%=get_title(@event.eventtype, @event.source)%></h2>
  </div>
    <div class="modal-body">
      <div class="column datePickers clearfix">
  		<%= form_for(@event, :remote => true) do |f| %>
        <div class="input">
          <%= f.text_field :date_from, :id => "from", :placeholder => "From date" %>
          <%= f.text_field :date_to, :id => "to", :placeholder => "To date" %>
          <%= hidden_field_tag "source", "plan" %>
          <%= f.hidden_field :visit_accepted, :value => true %>
		  <%= f.hidden_field :eventtype, :value => 2 %>
      	  <%= f.submit "Yes", :class => "btn btn-primary" %>
        </div>
  		<%end%>
      </div>
      <% if @event.visit_accepted? %>
        <%= render :partial=>'deal' %>
      <% else %>
      	<%= render :partial=>'user_details', :locals => {:event => @event} %>
      <% end %>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">No</a>
    </div>
</div>