<h1>Incoming Cold Call</h1>
<div class="modal" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h2>Incoming Cold Call</h2>
    <h3>Tips &amp; CRM Data</h3>
  </div>
  <div class="modal-body">
    <div class="crmData column">
      <textarea></textarea>
      <p>This field contains sales tips and your CRM hosted Data</p>
    </div>
    <div class="info column">
      <label>Name: <%=@event.lead.name%></label><p class="name"></p>
      <label>Address: <%=@event.lead.address%></label><p class="address"></p>
      <label>City: <%=@event.lead.city%></label><p class="city"></p>
      <label>Email: <%=@event.lead.email%></label><p class="email"></p>
      <label>Phone: <%=@event.lead.phone%></label><p class="phone"></p>
      <p>Block of help text to describe the field above if need be.</p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary accept" data-id="<%=@event.id%>">Accept</a>
    <a href="#" class="btn" data-dismiss="modal">Ignore</a>
  </div>
</div>
<script>
  function acceptCall(event_id){
  	$.ajax({
  		dataType: 'script',
  		type: 'get',
  		url: "events/accept/"+event_id
  	});
  };
  
  $(".accept").click(function(){
    event_id = $(this).attr("data-id");
    acceptCall(event_id);
    return false;
  });
</script>