<link rel="stylesheet" href="/assets/stylesheets/calendar.css" type="text/css" media="screen" />
<script type="text/javascript" src="/assets/javascript/jquery-1.7.1.min.js"></script>

   		<script type="text/javascript">
			function initMenu() {
				var block = $(".day");
					block.addClass("clickable");
				
				$('.open').hide();
				block.click(
					function() {
						$(this).parents('div:eq(0)').find('.open').slideToggle('slow');	
					}
				);}
			$(document).ready(function() {initMenu();});
   		</script>

        <div id="myModal" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>New event</h3>
            </div>
            <%= form_for(@event) do |f| %>
                <div class="modal-body">
                    <div class="clearfix">
                        <%= f.label :title %>
                        <div class="input">
                            <%= f.text_field :title %>
                        </div>
                    </div>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <%= f.submit "Add event", :class => "btn btn-primary" %>
                </div>
            <% end %>
          </div>
          
		<div id="calendar">
				<div id="month">
					<h2>November 2011</h2>                    
				</div>	
                <div>
                    <a data-toggle="modal" href="#myModal"><i class="icon-plus"></i>Add new event</a>
                </div>
				<div id="days">
					<p>Monday</p>
					<p>Tuesday</p>
					<p>Wednesday</p>
					<p>Thursday</p>
					<p>Friday</p>
					<p>Saturday</p>
					<p class="last">Sunday</p>
				</div>
				<div id="daysmonth">
<!---------------------------------------- week 1 ---------------------------------------->
					<div class="week">
						<div class="day">
							<div class="daybar"><p>31</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l2 a9"><p>09:00 History: examination</p></li>
									<li class="quote l2 a9"><p>19:00 Camp meeting</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>		
						<div class="day">
							<div class="daybar"><p>1</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="other"></li>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l1 a13"><p>13:00 English</p></li>
									<li class="other l1 a1"><p>15:00 Economy</p></li>
									<li class="visit l2 a3"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day">
							<div class="daybar"><p>2</p></div>
							<div class="icons">
								<ul>
									<li class="call"></li>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="call l3 a14"><p>14:00 Shopping Mall Concert</p></li>
									<li class="quote l3 a3"><p>20:00 Scout meeting: activity brain storm</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day">
							<div class="daybar"><p>3</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l2 a19"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>	
						<div class="day">
							<div class="daybar"><p>4</p></div>
							<div class="icons">
								<ul>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day">
							<div class="daybar"><p>5</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
									<li class="call"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l3 a13"><p>13:00 Competition: visit Hawks - other Parrots</p></li>
									<li class="call l3 a5"><p>21:00 After Halloween party</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day last">
							<div class="daybar"><p>6</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l2 a11"><p>11:00 studying</p></li>	
									<li class="quote l3 a1"><p>14:00 Stratego-game</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
					</div>	
<!---------------------------------------- week 2 ---------------------------------------->
					<div class="week">
						<div class="day">
							<div class="daybar"><p>7</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l1 a13"><p>13:00 Math</p></li>
									<li class="quote l2 a5"><p>19:00 gathering</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>		
						<div class="day">
							<div class="daybar"><p>8</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l2 a19"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day">
							<div class="daybar"><p>9</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="other"></li>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l1 a8"><p>08:00 Biology</p></li>
									<li class="other l1 a1"><p>10:00 ICT</p></li>
									<li class="quote l3 a9"><p>20:00 Cookie bake-off</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day">
							<div class="daybar"><p>10</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l2 a19"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>	
						<div class="day">
							<div class="daybar"><p>11</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="call"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l3 a10"><p>10:00 Athletics</p></li>
									<li class="call l3 a4"><p>17:00 Date with ...</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day">
							<div class="daybar"><p>12</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
									<li class="call"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l3 a13"><p>13:00 Competition: visit Hawks - call Foxes</p></li>
									<li class="call l4 a2"><p>18:00 Cinema: Tin Tin </p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day last">
							<div class="daybar"><p>13</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l2 a11"><p>11:00 studying</p></li>	
									<li class="quote l3 a1"><p>14:00 Door 2 Door cookies</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
					</div>	
<!---------------------------------------- week 3 ---------------------------------------->
					<div class="week">
						<div class="day big">
							<div class="daybar"><p>14</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l2 a9"><p>09:00 History project</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>		
						<div class="day big">
							<div class="daybar"><p>15</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l1 a13"><p>13:00 English task</p></li>
									<li class="visit l2 a5"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day today big">
							<div class="daybar"><p>16</p></div>
							<div class="icons">
								<ul>
									<li class="call"></li>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="call l2 a17"><p>17:00 iPhone delivery</p></li>						
									<li class="quote l3 a1"><p>20:00 gathering</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day big">
							<div class="daybar"><p>17</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l2 a19"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>	
						<div class="day big">
							<div class="daybar"><p>18</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l2 a8"><p>08:00 Spanish</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day big">
							<div class="daybar"><p>19</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
									<li class="call"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l3 a13"><p>13:00 Competition: quote Snakes - visit Hawks</p></li>
									<li class="call l4 a4"><p>20:00 Snowparty</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day big last">
							<div class="daybar"><p>20</p></div>
							<div class="icons">
								<ul>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="quote l5 a14"><p>14:00 Survival</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
					</div>	
<!---------------------------------------- week 4 ---------------------------------------->
					<div class="week">
						<div class="day">
							<div class="daybar"><p>21</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l1 a13"><p>13:00 Math test</p></li>
									<li class="quote l2 a5"><p>19:00 gathering</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>		
						<div class="day">
							<div class="daybar"><p>22</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l2 a19"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day">
							<div class="daybar"><p>23</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
									<li class="other"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l2 a8"><p>08:00 English reading</p></li>
									<li class="other l1 a1"><p>11:00 Physics task</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day">
							<div class="daybar"><p>24</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l2 a19"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>	
						<div class="day">
							<div class="daybar"><p>25</p></div>
							<div class="icons">
								<ul>
									<li class="call"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="call l3 a20"><p>20:00 Zoo Night opening!</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day">
							<div class="daybar"><p>26</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l3 a13"><p>13:00 Competition: visit Hawks - Black Ravens</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day last">
							<div class="daybar"><p>27</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l3 a9"><p>09:00 studying</p></li>	
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
					</div>	
<!---------------------------------------- week 5 ---------------------------------------->
					<div class="week">
						<div class="day">
							<div class="daybar"><p>28</p></div>
							<div class="icons">
								<ul>
									<li class="other"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="other l2 a13"><p>13:00 Math test</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>		
						<div class="day">
							<div class="daybar"><p>29</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l2 a19"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day">
							<div class="daybar"><p>30</p></div>
							<div class="icons">
								<ul>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="quote l3 a20"><p>20:00 gathering</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
						<div class="day">
							<div class="daybar"><p>1</p></div>
							<div class="icons">
								<ul>
									<li class="visit"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="visit l2 a19"><p>19:00 Practice</p></li>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>	
						<div class="day">
							<div class="daybar"><p>2</p></div>
							<div class="icons">
								<ul>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
								</ul>
							</div>	
							<!-- slide closed -->
						</div>	
						<div class="day">
							<div class="daybar"><p>3</p></div>
							<div class="icons">
								<ul>
									<li class="call"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="call l3 a10"><p>10:00 Christmas decoration</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>				
						<div class="day last">
							<div class="daybar"><p>4</p></div>
							<div class="icons">
								<ul>
									<li class="quote"></li>
								</ul>
							</div>	
							<!-- slide open -->
							<div class="open">
								<ul>
									<li class="quote l3 a20"><p>20:00 Quiz night</p></li>						
								</ul>
							</div>	
							<!-- slide closed -->
						</div>			
					</div>
<!---------------------------------------- week 5 end ---------------------------------------->			
			</div>					
			<div class="legend">
				<div class="icon call"></div><p>Cold calls</p>
				<div class="icon visit"></div><p>Visits</p>
				<div class="icon quote"></div><p>Quotes</p>
				<div class="icon other"></div><p>Other</p>
			</div>				
		</div>	
	</div>