<link rel='stylesheet' type='text/css' href='/assets/stylesheets/fullcalendar/fullcalendar.css' />
<link rel="stylesheet" href="/assets/stylesheets/jquery-ui/jquery-ui-1.8.18.custom.css" type="text/css" media="screen" />
<script type="text/javascript" src="/assets/javascript/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery-ui-1.8.18.min.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery-ui-timepicker-addon.js"></script>
<script type='text/javascript' src='/assets/javascript/fullcalendar/fullcalendar.js'></script>
<script type="text/javascript" src="/assets/javascript/bootstrap-modal.js"></script>

<style type="text/css"> 
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>
<script type='text/javascript'>
	$(document).ready(function() {
		$('#from').datetimepicker({
    onClose: function(dateText, inst) {
        var endDateTextBox = $('#to');
        if (endDateTextBox.val() != '') {
            var testStartDate = new Date(dateText);
            var testEndDate = new Date(endDateTextBox.val());
            if (testStartDate > testEndDate)
                endDateTextBox.val(dateText);
        }
        else {
            endDateTextBox.val(dateText);
        }
    },
    onSelect: function (selectedDateTime){
        var start = $(this).datetimepicker('getDate');
        $('#from').datetimepicker('option', 'minDate', new Date(start.getTime()));
    }
});
$('#to').datetimepicker({
    onClose: function(dateText, inst) {
        var startDateTextBox = $('#from');
        if (startDateTextBox.val() != '') {
            var testStartDate = new Date(startDateTextBox.val());
            var testEndDate = new Date(dateText);
            if (testStartDate > testEndDate)
                startDateTextBox.val(dateText);
        }
        else {
            startDateTextBox.val(dateText);
        }
    },
    onSelect: function (selectedDateTime){
        var end = $(this).datetimepicker('getDate');
        $('#from').datetimepicker('option', 'maxDate', new Date(end.getTime()) );
    }
});
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
    var all_events = [<%= print_events%> ]		
		$('#cal').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			events: all_events,
                        dayClick: function(date, allDay, jsEvent, view) {
                          $( "#from").datepicker("setDate",date);
                          $('#myModal').modal();
                        }
		});
		
	});
</script>
<div id="myModal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" >&times;</a>
		<h3>New event</h3>
	</div>
	<%= form_for(@event) do |f| %>
		<div class="modal-body">
			<div class="clearfix">
		        <div class="input">
                    <%= f.text_field :title, :class => "span6", :placeholder => "title" %>
				</div>
            </div>
            <div class="clearfix">
                <div class="input">
                	<%= f.text_field :date_from, :id => "from", :class => "span3", :placeholder => "From date" %>
                    <%= f.text_field :date_to, :id => "to", :class => "span 3", :style => "margin-left: 17px;", :placeholder => "To date" %>
                </div>
            </div>
            <div class="clearfix">
                <div class="input">
                    <%= f.text_field :location, :class => "span6", :placeholder => "Location" %>
                </div>
            </div>
            <div class="clearfix">
                <div class="input">
                    <%= f.text_area :crm, :rows => 3, :class => "span3", :placeholder => "CRM data" %>
                    <%= f.text_area :tips, :rows => 3, :class => "span3", :style => "margin-left: 17px;", :placeholder => "Tips" %>
                </div>
            </div>
            <div class="clearfix">
                <div class="span6">
                    <div class="pull-left event_type">Event Type :</div>
                    <div class="ic_frm pull-left" onclick="set_type('Cold calls')"><div class="call icon"></div><p class="pull-right">Cold calls</p></div>
                    <div class="ic_frm pull-left" onclick="set_type('Visits')"><div class="visit icon"></div><p class="pull-right">Visits</p></div>
                    <div class="ic_frm pull-left" onclick="set_type('Quotes')"><div class="quote icon"></div><p class="pull-right">Quotes</p></div>
                    <div class="ic_frm pull-left btn btn-info" onclick="set_type('Other')"><div class="other icon"></div><p class="pull-right">Other</p></div>
                	<%= f.hidden_field :eventtype, :value => 'Other' %>
                </div>
            </div>
                    
            <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <%= f.submit "Add event", :class => "btn btn-primary" %>
        </div>
    <% end %>
</div>
<div id='cal' style="width:750px;margin: 0 auto;">
</div>
