<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  	<title><%= title %></title>
  	<meta name="description" content="">
  	<meta name="author" content="Forevenue team" />
  	
  	<%= render 'layouts/stylesheets' %>
 
 	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<section class="container">
			<section class="span16 content">
				<% flash.each do |key, value| %>
					<div class="alert-message <%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</section>
	</section>
	<%= render 'layouts/footer' %>
</body>
</html>
