<h1>Sign up</h1>
<%= form_for(@user) do |f| %>

	<div class="clearfix">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name %>
			<% if @user.errors[:name] %>
				<span class="help-inline"><%= @user.errors[:name] %></span>
			<% end %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label :email %>
		<div class="input">
			<%= f.text_field :email %>
			<% if @user.errors[:email] %>
				<span class="help-inline"><%= @user.errors[:email] %></span>
			<% end %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label :password %>
		<div class="input">
			<%= f.password_field :password %>
			<% if @user.errors[:password] %>
				<span class="help-inline"><%= @user.errors[:password] %></span>
			<% end %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label :password_confirmation, "Confirmation" %>
		<div class="input">
			<%= f.password_field :password_confirmation %>
			<% if @user.errors[:password_confirmation] %>
				<span class="help-inline"><%= @user.errors[:password_confirmation] %></span>
			<% end %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Sign up", :class => "btn primary" %>
	</div>
<% end %>
