<h1>Activities needed</h1>
<p>
	After defining your goals and average sales cycle you need to become active. The key feature of Sallly is that she will help you become more active. She will calculate the amount of activities you need to achieve your personal goal. These fields are needed to determine how much activities you need to achieve your goals
</p>
<p>
	The qeustions down below make an assumption of the amount of tasks needed to get to your next step achieving your goals. In case you don't have gained any experience yet, use the worst case scenario for each field.'
</p>
<%= form_for current_user.setting do |f| %>
    <input name="target" type="hidden" value="status" />
    <div class="controls">
        <%= f.label :activity_level %>
        <%= f.select :activity_level, {"Level 1: Less than 1 year" => 0, "Level 2: Between 1 and 3 years" => 1, "Level 3: More than 3 years" => 2} %>
    </div>
    <div class="clearfix">
        <%= f.label :activity_calls %>
        <div class="input">
            <div class="inline-inputs">
                <span>Calls:</span>
                <%= f.text_field :activity_calls %>
                <span>Visits:</span>
                <%= f.text_field :activity_visits %>
                <span>Quotes:</span>
                <%= f.text_field :activity_quotes %>
            </div>
        </div>
    </div>
    <div class="actions">
        <%= link_to "Previous", goal_path, :class => "btn" %>
        <%= f.submit "Next", :class => "btn btn-primary" %>
    </div>
<% end %>