<h1>Enter your Average ammount</h1>
<p>
	The average amount is need to determine your average qoute avlue.
</p>
<p>
	The date is needed to determine your salescycle
</p>
<%= form_for current_user.setting do |f| %>
    <input name="target" type="hidden" value="activities" />
    <div class="clearfix">
        <%= f.label :average_revenue %>
        <div class="input">
            <%= f.text_field :average_revenue %>
        </div>
    </div>
    <div class"clearfix">
        <%= f.label :goal_start %>
        <div class="input">
            <div class="inline-inputs">
                <%= f.date_select :average_start %>
                to
                <%= f.date_select :average_end %>
            </div>
        </div>
    </div>
    <div class="actions">
        <%= link_to "Previous", goal_path, :class => "btn" %>
        <%= f.submit "Next", :class => "btn btn-primary" %>
    </div>
<% end %>