<h1>Enter your Goal</h1>
<p>
	You can't do sales without a financial goal. This screen will help you define your financial goal and the timeperiod where you want to achieve your financial goal.
</p>
<p>
	Because there is an absolute relation between the amount of activities you do.  and the
</p>

<%= form_for current_user.setting do |f| %>
    <input name="target" type="hidden" value="average" />
    <div class="clearfix">
        <%= f.label :goal_revenue %>
        <div class="input">
            <%= f.text_field :goal_revenue %>
        </div>
    </div>
    <div class"clearfix">
        <%= f.label :goal_start %>
        <div class="input">
            <div class="inline-inputs">
                <%= f.date_select :goal_start %>
                to
                <%= f.date_select :goal_end %>
            </div>
        </div>
    </div>
    <div class="actions">
        <%= f.submit "Next", :class => "btn btn-primary" %>
    </div>
<% end %>
<div class="actions">
	<%= link_to "Previous", welcome_path, :class => "btn" %>
	<%= link_to "Next", average_path, :class => "btn btn-primary" %>
</div>