<h1>Change settings here</h1>
<%= form_for current_user.setting do |f| %>
    <hr />
    <h3>Goal</h3>
    <div class="clearfix">
        <%= f.label :goal_revenue %>
        <div class="input">
            <%= f.text_field :goal_revenue %>
        </div>
    </div>
    <div class"clearfix">
        <%= f.label :goal_start %>
        <div class="input">
            <div class="inline-inputs">
                <%= f.text_field :goal_start %>
                to
                <%= f.text_field :goal_end %>
            </div>
        </div>
    </div>
    <hr />
    <h3>Average</h3>
    <div class="clearfix">
        <%= f.label :average_revenue %>
        <div class="input">
            <%= f.text_field :average_revenue %>
        </div>
    </div>
    <div class"clearfix">
        <%= f.label :average_start %>
        <div class="input">
            <div class="inline-inputs">
                <%= f.text_field :average_start %>
                to
                <%= f.text_field :average_end %>
            </div>
        </div>
    </div>
    <hr />
    <h3>Activity</h3>
    <div class="controls">
        <%= f.select :activity_level, {"Level 1: Rookie" => 0, "Level 2: Novice" => 1, "Level 3: Ninja" => 2} %>
    </div>
    <div class="clearfix">
        <%= f.label :activity_calls %>
        <div class="input">
            <div class="inline-inputs">
                <span>Calls:</span>
                <%= f.text_field :activity_calls %>
                <span>Visits:</span>
                <%= f.text_field :activity_visits %>
                <span>Quotes:</span>
                <%= f.text_field :activity_quotes %>
            </div>
        </div>
    </div>
    <h3>Average workdays</h3>
    <div class="clearfix">
        <%= f.label :activity_calls %>
        <div class="input">
            <div class="inline-inputs">
                <span>a year:</span>
                <%= f.text_field :average_workdays_a_year %>
                <span>a week:</span>
                <%= f.text_field :average_workdays_a_week %>
            </div>
        </div>
    </div>

    <div class="actions">
        <%= f.submit "Save", :class => "btn btn-primary" %>
    </div>
<% end %>