	<script>
	$(function() {
		$( "#hitrate-calls" ).slider({
			range: "min",
			value: 10,
			min: 0,
			max: 100,
			step: 10,
			slide: function( event, ui ) {
				$( "#hitrate-calls-amount" ).val( "%" + ui.value );
			}
		});
		$( "#hitrate-calls-amount" ).val( "%" + $( "#hitrate-calls" ).slider( "value" ) );
		
		$( "#hitrate-visits" ).slider({
			range: "min",
			value: 10,
			min: 0,
			max: 100,
			step: 10,
			slide: function( event, ui ) {
				$( "#hitrate-visits-amount" ).val( "%" + ui.value );
			}
		});
		$( "#hitrate-visits-amount" ).val( "%" + $( "#hitrate-visits" ).slider( "value" ) );
		
		$( "#hitrate-quotes" ).slider({
			range: "min",
			value: 10,
			min: 0,
			max: 100,
			step: 10,
			slide: function( event, ui ) {
				$( "#hitrate-quotes-amount" ).val( "%" + ui.value );
			}
		});
		$( "#hitrate-quotes-amount" ).val( "%" + $( "#hitrate-quotes" ).slider( "value" ) );
	});
	</script>


<script type="text/javascript" src="/assets/javascript/jquery-ui-timepicker-addon.js"></script>
<style type="text/css"> 
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>
<script> 
  function initDateTimePicker() {
    $('.from').datepicker({
      timeFormat: "",
      dateFormat: "yy-mm-dd",
      onSelect: function (selectedDateTime){
        var start = $(this).datetimepicker('getDate');
        $(this).datepicker('option', 'minDate', new Date(start));
      }
    });
  
    $('.to').datepicker({
      timeFormat: "",
      dateFormat: "yy-mm-dd",
      onSelect: function (selectedDateTime){
        var start = $(this).datetimepicker('getDate');
        var end = $(this).datetimepicker('getDate');
        $(this).datepicker('option', 'minDate', new Date(start) );
      }
    });
  };
</script>

<h1>Welcome to the settings page</h1>

    <div class="row">
    	<div class="span8 settings">
			Fill out these settings to work back from your revenue goal to a set of activities. Sallly helps you generate sales activities without any sales experience. Just fill out the question's as good as possible. No harm done if you made a mistake. You simply can adjust them during the process of using Sallly.
			<%= form_for current_user.setting do |f| %>
			<div class="row">
				<div class="span4">
       				<h3>Goal Revenue</h3>
        			<div class="input">
          				<%= f.text_field :goal_revenue %>
        			</div>
        			Which revenue do you want to achieve with you're business?
				</div>
				<div class="span4">
        			<h3>Goal Revenue</h3>
        			<div class="input">
          				<%= f.text_field :goal_revenue %>
        			</div>
        			Which revenue do you want to achieve with you're business?
				</div>
			</div>
			<div class="row">
				<div class="span4">
       				<h3>From</h3>
        			<div class="input">
          				<%= f.text_field :goal_start, :class => "from", :placeholder => "From date" %>
        			</div>
				</div>
				<div class="span4">
        			<h3>From</h3>
        			<div class="input">
          				<%= f.text_field :goal_end, :class => "to", :placeholder => "To date" %>
        			</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
       				<h3>From</h3>
        			<div class="input">
          				<%= f.text_field :goal_start, :class => "from", :placeholder => "From date" %>
        			</div>
				</div>
				<div class="span4">
        			<h3>From</h3>
        			<div class="input">
          				<%= f.text_field :goal_end, :class => "to", :placeholder => "To date" %>
        			</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<h3>Experience</h3>
					<label for="hitrate-calls-amount">Hitrate calls:</label>
					<input type="text" id="hitrate-calls-amount" disabled="true" style="border:0;" />
					<div id="hitrate-calls"></div>
					
					<label for="hitrate-visits-amount">Hitrate visits:</label>
					<input type="text" id="hitrate-visits-amount" disabled="true" style="border:0;" />
					<div id="hitrate-visits"></div>
					
					<label for="hitrate-quotes-amount">Hitrate quotes:</label>
					<input type="text" id="hitrate-quotes-amount" disabled="true" style="border:0;" />
					<div id="hitrate-quotes"></div>
				</div>
				<div class="span4">
    				<h3>Average workdays</h3>
					How many days do you work a year?
            		<div class="inline-inputs">
                		<span>a year:</span>
                		<%= f.text_field :average_workdays_a_year %>
                		<span>a week:</span>
                		<%= f.text_field :average_workdays_a_week %>
            		</div>
        		</div>
			</div>
			<div class="row">
				<div class="span8">
       				<h3>CRM</h3>
        			<div class="input">
 				   		<%= f.radio_button :crm_option, "salesforce" %> Salesforce
          				<%= f.radio_button :crm_option, "highrise" %> Highrise
        			</div>
				</div>
			</div>
			<div class="row">
				<div class="span8">
    				<div class="actions">
        				<%= f.submit "Save", :class => "btn btn-primary" %>
    				</div>
				</div>
			</div>
			<% end %>
    	</div>
    </div>
<%= form_for current_user.setting do |f| %>
    <div>
      <%= link_to "Link to Saleforce Account", omniauth_authorize_path(User, current_user.setting.crm_option), :class => current_user.setting.crm_option, :title => current_user.setting.crm_option if current_user.setting.crm_option && ["salesforce"].include?(current_user.setting.crm_option) %>
    </div>
<% end %>
<script>
  $(document).ready(function() {
    initDateTimePicker();
  });
</script>