<script type="text/javascript" src="/assets/javascript/jquery-ui-timepicker-addon.js"></script>
<style type="text/css"> 
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>
<script> 
  function initDateTimePicker() {
    $('.from').datepicker({
      timeFormat: "",
      dateFormat: "yy-mm-dd",
      onSelect: function (selectedDateTime){
        var start = $(this).datetimepicker('getDate');
        $(this).datepicker('option', 'minDate', new Date(start));
      }
    });
  
    $('.to').datepicker({
      timeFormat: "",
      dateFormat: "yy-mm-dd",
      onSelect: function (selectedDateTime){
        var start = $(this).datetimepicker('getDate');
        var end = $(this).datetimepicker('getDate');
        $(this).datepicker('option', 'minDate', new Date(start) );
      }
    });
  };
</script>

<h1>Welcome to the settings page</h1>
Fill out these settings to work back from your revenue goal to a set of activities. Sallly helps you generate sales activities without any sales experience. Just fill out the question's as good as possible. No harm done if you made a mistake. You simply can adjust them during the process of using Sallly.
<%= form_for current_user.setting do |f| %>
    <hr />
    <h3>Goal</h3>
Which revenue do you want to achieve with you're business?
    <div class="clearfix">
        <%= f.label :goal_revenue %>
        <div class="input">
            <%= f.text_field :goal_revenue %>
        </div>
    </div>
    <div class"clearfix">
        <%= f.label :goal_start %>
        <div class="input">
            <div class="inline-inputs">
                <%= f.text_field :goal_start, :class => "from span3", :placeholder => "From date" %>
                <%= f.text_field :goal_end, :class => "to span3", :style => "margin-left: 17px;", :placeholder => "To date" %>
            </div>
        </div>
    </div>
    <hr />
    <h3>Average</h3>
What is the average amount you qoute to your customers? This is needed to calculate you're hitrate!
    <div class="clearfix">
        <%= f.label :average_revenue %>
        <div class="input">
            <%= f.text_field :average_revenue %>
        </div>
    </div>
    <div class"clearfix">
        <%= f.label :average_start %>
        <div class="input">
            <div class="inline-inputs">
                <%= f.text_field :average_start, :class => "from span3", :placeholder => "From date" %>
                <%= f.text_field :average_end, :class => "to span3", :style => "margin-left: 17px;", :placeholder => "To date" %>
            </div>
        </div>
    </div>
    <hr />
    <h3>Experience</h3>
How long have you been doing sales? 
    <div class="controls">
        <%= f.select :activity_level, {"Level 1: Less than 1 year" => 0, "Level 2: Between 1 and 3 years" => 1, "Level 3: More than 3 years" => 2} %>
    </div>
    <div class="clearfix">
        <%= f.label :activity_calls %>
        <div class="input">
            <div class="inline-inputs">
                <span>Calls:</span>
                <%= f.text_field :activity_calls %>
                <span>Visits:</span>
                <%= f.text_field :activity_visits %>
                <span>Quotes:</span>
                <%= f.text_field :activity_quotes %>
            </div>
        </div>
    </div>
    <h3>Average workdays</h3>
How many days do you work a year?
    <div class="clearfix">
        <div class="input">
            <div class="inline-inputs">
                <span>a year:</span>
                <%= f.text_field :average_workdays_a_year %>
                <span>a week:</span>
                <%= f.text_field :average_workdays_a_week %>
            </div>
        </div>
    </div>

    <div class="actions">
        <%= f.submit "Save", :class => "btn btn-primary" %>
    </div>
<% end %>
<script>
  $(document).ready(function() {
    initDateTimePicker();
  });
</script>