<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type='text/javascript'>
	google.load('visualization', '1', {packages:['gauge']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
    	var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addRows([
          	['Status', 10],
         	['Pro-activity', 55],
          	['task', 55]
        ]);

        var options = {
        	width: 250, height: 165,
          	redFrom: 50, redTo: 100,
          	yellowFrom:25, yellowTo: 50,
          	minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        chart.draw(data, options);
	}
</script>
<script type="text/javascript" src="/assets/javascript/heartrate.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", init, false);
	
	/* The init function creates a 2d context, runs setup and starts draw loop */
	function init() {
    	var ctx = document.getElementById("monitor").getContext("2d");
        window.heartRate = new HeartRate({ context: ctx });
        window.setInterval(draw, 50);
    }

    // Draws the heartrate monitor.
    function draw() {     
    	// heartRate.monitor(xPosition, yPosition);
        heartRate.monitor();
    }
</script>
    
<h1>Status</h1>
<section class="row info">
    <section class="span3 well">
        <h4>Heart rate</h4>
        <canvas id="monitor" width="220" height="50" style="margin-top: 40px;"></canvas>
    </section>
    <section class="span4 well">
        <h4>Activities</h4>
        <div id='chart_div' style="margin-top: 25px;"></div>
    </section>
    <section class="span3 well">
        <h4>Ranking</h4>
        <%= image_tag 'images/ninja.png', :width => 125 %>
    </section>
</section>
<section class="row" style="margin: 5px 0 15px 0; padding: 0 100px;">
	<div style="float: left;">
    	<a data-toggle="modal" href="#myModal"><i class="icon-plus"></i>Add new event</a>
    </div>
    <div style="float: right; margin-left: 15px;">
	    <div style="display: inline-block; height: 15px; width: 25px; background-color: #1B50E0;"></div>
    	Others
    </div>
    <div style="float: right; margin-left: 15px;">
	    <div style="display: inline-block; height: 15px; width: 25px; background-color: #1BE01E;"></div>
    	Quotes
    </div>
    <div style="float: right; margin-left: 15px;">
	    <div style="display: inline-block; height: 15px; width: 25px; background-color: #E0AF1B;"></div>
    	Visits
    </div>
    <div style="float: right; margin-left: 15px;">
	    <div style="display: inline-block; height: 15px; width: 25px; background-color: #E01B1B;"></div>
    	Cold calls
    </div>
</section>
<section class="row">
    <%= render 'shared/new_calendar' %>
</section>
<section class="row">
    <h3>Events</h3>
    <span>Your upcoming events.</span>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        	<tr>
        		<th>Title</th>
        		<th>Date from</th>
        		<th>Date to</th>
        		<th>Location</th>
        		<th>eventtype</th>
        		<th>crm</th>
        		<th>tips</th>
        	</tr>
        </thead>
        <tbody>
        	<% current_user.events.each do |event| %>
        		<tr>
        			<td><%= event.title %></td>
        			<td><%= event.date_from %></td>
        			<td><%= event.date_to %></td>
        			<td><%= event.location %></td>
        			<td><%= event.eventtype %></td>
        			<td><%= event.crm %></td>
        			<td><%= event.tips %></td>
        		</tr>
        	<% end %>
        </tbody>
    </table>
</section>