<h1>Leads</h1>

<%if current_user.setting.crm_option && current_user.setting.crm_option == "salesforce"%>
  <%= link_to "Refresh Leads", omniauth_authorize_path(User, current_user.setting.crm_option), :class => current_user.setting.crm_option, :title => current_user.setting.crm_option %>
<%else%>
  <%=link_to "Refresh Leads", refresh_leads_path%>
<%end%>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>City</th>
    <th>Address</th>
    <th>CRM Notes</th>
    <th>CRM Name</th>
  </tr>
  <%@leads.each do |l|%>
    <tr>
      <td><%=l.name%></td>
      <td><%=l.email%></td>
      <td><%=l.phone%></td>
      <td><%=l.city%></td>
      <td><%=l.address%></td>
      <td><%=l.crm_notes%></td>
      <td><%=l.crm_name ? l.crm_name : "highrise" %></td>
    </tr>
  <%end%>
</table>